body {
    background-color: gainsboro;
    margin: 0;
}

nav {
    float: left;
    width: 20%;
    height: 1000px;
    background: aqua;
    padding: 20px;
}

nav ul {
    padding: 0;
}

article {
    padding: 10px;
    width: 100%;
    background-color: gainsboro;
    height: 800px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.profil {
    width: 80%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nama {
    line-height: 0.3;
    padding-left: px;
}

.rangkuman {
    line-height: normal;
}

.pengalaman {
    line-height: 0.5;
}

.pendidikan table td {
    padding: 7px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}